openapi: 3.2.0
info:
  title: Choreo Insights Errors API
  description: The Choreo Insights API provides access to observability, monitoring, and analytics data for APIs and components deployed on the WSO2 Choreo platform. It enables users to programmatically retrieve usage statistics, latency metrics, error analytics, and operational insights for their managed APIs and services.
  version: 1.0.0
  contact:
    name: WSO2 Choreo
    url: https://choreo.dev/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-provider-slug: choreo
  x-api-slug: insights
servers:
- url: https://console.choreo.dev/insights/api/v1
  description: Choreo Insights API
security:
- bearerAuth: []
tags:
- name: Errors
  description: API error analytics and diagnostics.
paths:
  /errors:
    get:
      operationId: getAPIErrors
      summary: Choreo Get API error analytics
      description: Retrieve error analytics including error counts by status code, error categories, and error trends over time.
      tags:
      - Errors
      parameters:
      - name: orgId
        in: query
        required: true
        schema:
          type: string
        description: Organization identifier.
      - name: apiId
        in: query
        schema:
          type: string
        description: Filter by specific API identifier.
      - name: from
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: granularity
        in: query
        schema:
          type: string
          enum:
          - 1m
          - 5m
          - 1h
          - 1d
          default: 1h
      responses:
        '200':
          description: Successful response with error analytics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        totalErrors:
          type: integer
          description: Total number of errors.
        errorsByStatusCode:
          type: array
          items:
            type: object
            properties:
              statusCode:
                type: integer
              count:
                type: integer
          description: Error breakdown by HTTP status code.
        errorsByCategory:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
                enum:
                - Authentication
                - Throttling
                - Backend
                - Gateway
                - Other
              count:
                type: integer
          description: Error breakdown by category.
        timeSeries:
          type: array
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
              errors:
                type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
