openapi: 3.2.0
info:
  title: Choreo Insights Usage API
  description: The Choreo Insights API provides access to observability, monitoring, and analytics data for APIs and components deployed on the WSO2 Choreo platform. It enables users to programmatically retrieve usage statistics, latency metrics, error analytics, and operational insights for their managed APIs and services.
  version: 1.0.0
  contact:
    name: WSO2 Choreo
    url: https://choreo.dev/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-provider-slug: choreo
  x-api-slug: insights
servers:
- url: https://console.choreo.dev/insights/api/v1
  description: Choreo Insights API
security:
- bearerAuth: []
tags:
- name: Usage
  description: API usage statistics and request metrics.
paths:
  /usage:
    get:
      operationId: getAPIUsage
      summary: Choreo Get API usage statistics
      description: Retrieve API usage statistics including request counts, success rates, and error rates for a given time range.
      tags:
      - Usage
      parameters:
      - name: orgId
        in: query
        required: true
        schema:
          type: string
        description: Organization identifier.
      - name: apiId
        in: query
        schema:
          type: string
        description: Filter by specific API identifier.
      - name: componentId
        in: query
        schema:
          type: string
        description: Filter by specific component identifier.
      - name: environmentId
        in: query
        schema:
          type: string
        description: Filter by environment identifier.
      - name: from
        in: query
        required: true
        schema:
          type: string
          format: date-time
        description: Start time for the query range.
      - name: to
        in: query
        required: true
        schema:
          type: string
          format: date-time
        description: End time for the query range.
      - name: granularity
        in: query
        schema:
          type: string
          enum:
          - 1m
          - 5m
          - 1h
          - 1d
          default: 1h
        description: Time granularity for aggregation.
      responses:
        '200':
          description: Successful response with usage statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageResponse'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
components:
  schemas:
    UsageResponse:
      type: object
      properties:
        totalRequests:
          type: integer
          description: Total number of requests in the time range.
        successCount:
          type: integer
          description: Number of successful requests.
        errorCount:
          type: integer
          description: Number of failed requests.
        successRate:
          type: number
          format: float
          description: Success rate as a percentage.
        timeSeries:
          type: array
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
              requests:
                type: integer
              successes:
                type: integer
              errors:
                type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
