openapi: 3.2.0
info:
  title: Choreo Insights Alerts API
  description: The Choreo Insights API provides access to observability, monitoring, and analytics data for APIs and components deployed on the WSO2 Choreo platform. It enables users to programmatically retrieve usage statistics, latency metrics, error analytics, and operational insights for their managed APIs and services.
  version: 1.0.0
  contact:
    name: WSO2 Choreo
    url: https://choreo.dev/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-provider-slug: choreo
  x-api-slug: insights
servers:
- url: https://console.choreo.dev/insights/api/v1
  description: Choreo Insights API
security:
- bearerAuth: []
tags:
- name: Alerts
  description: Monitoring alerts for APIs and components.
paths:
  /alerts:
    get:
      operationId: listAlerts
      summary: Choreo List alerts
      description: Retrieve a list of alerts triggered for APIs and components.
      tags:
      - Alerts
      parameters:
      - name: orgId
        in: query
        required: true
        schema:
          type: string
        description: Organization identifier.
      - name: status
        in: query
        schema:
          type: string
          enum:
          - Active
          - Resolved
          - Acknowledged
        description: Filter by alert status.
      - name: severity
        in: query
        schema:
          type: string
          enum:
          - Critical
          - Warning
          - Info
        description: Filter by severity.
      - name: limit
        in: query
        schema:
          type: integer
          default: 25
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Successful response with list of alerts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      $ref: '#/components/schemas/Alert'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          description: Unauthorized.
components:
  schemas:
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Alert:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the alert.
        name:
          type: string
          description: Alert name.
        description:
          type: string
          description: Alert description.
        severity:
          type: string
          enum:
          - Critical
          - Warning
          - Info
        status:
          type: string
          enum:
          - Active
          - Resolved
          - Acknowledged
        apiId:
          type: string
        componentId:
          type: string
        triggeredAt:
          type: string
          format: date-time
        resolvedAt:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
