openapi: 3.1.0
info:
  title: Choreo API Management Alerts Deployments API
  description: The Choreo API Management API provides programmatic access to manage the full lifecycle of APIs on the WSO2 Choreo platform. It allows API creators to create, publish, version, and manage APIs, configure rate limiting policies, and manage API documentation. Choreo is an AI-native internal developer platform that simplifies building, deploying, and managing cloud-native applications.
  version: 1.0.0
  contact:
    name: WSO2 Choreo
    url: https://choreo.dev/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-provider-slug: choreo
  x-api-slug: api-management
servers:
- url: https://console.choreo.dev/api/v1
  description: Choreo Console API
security:
- bearerAuth: []
- oauth2:
  - read
  - write
tags:
- name: Deployments
  description: Manage deployments to environments.
paths:
  /organizations/{orgId}/projects/{projectId}/components/{componentId}/deployments:
    get:
      operationId: listDeployments
      summary: Choreo List deployments
      description: Retrieve a list of deployments for a component.
      tags:
      - Deployments
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: componentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response with list of deployments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      $ref: '#/components/schemas/Deployment'
        '401':
          description: Unauthorized.
    post:
      operationId: createDeployment
      summary: Choreo Promote a build to an environment
      description: Deploy a build to a specific environment. This promotes the built artifact to the target environment.
      tags:
      - Deployments
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: componentId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentCreate'
      responses:
        '201':
          description: Deployment created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
components:
  schemas:
    DeploymentCreate:
      type: object
      required:
      - buildId
      - environmentId
      properties:
        buildId:
          type: string
          description: Build identifier to deploy.
        environmentId:
          type: string
          description: Target environment identifier.
    Deployment:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the deployment.
        componentId:
          type: string
        buildId:
          type: string
        environmentId:
          type: string
        status:
          type: string
          enum:
          - Pending
          - Active
          - Failed
          - Inactive
        createdAt:
          type: string
          format: date-time
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://console.choreo.dev/oauth2/authorize
          tokenUrl: https://console.choreo.dev/oauth2/token
          scopes:
            read: Read access
            write: Write access
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
