openapi: 3.2.0
info:
  title: Choreo Developer Portal Business Plans API
  description: The Choreo Developer Portal API enables API consumers to discover, evaluate, subscribe to, and consume APIs hosted on the WSO2 Choreo platform. It provides access to the API marketplace, application management, subscription management, and credential generation for OAuth 2.0 and API key based authentication.
  version: 1.0.0
  contact:
    name: WSO2 Choreo
    url: https://choreo.dev/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-provider-slug: choreo
  x-api-slug: developer-portal
servers:
- url: https://devportal.choreo.dev/api/v1
  description: Choreo Developer Portal API
security:
- bearerAuth: []
- oauth2:
  - read
  - write
tags:
- name: Business Plans
  description: View available business plans for API subscriptions.
paths:
  /business-plans:
    get:
      operationId: listBusinessPlans
      summary: Choreo List business plans
      description: Retrieve a list of available business plans that determine rate limits for API subscriptions.
      tags:
      - Business Plans
      parameters:
      - name: apiId
        in: query
        schema:
          type: string
        description: Filter business plans available for a specific API.
      responses:
        '200':
          description: Successful response with list of business plans.
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      $ref: '#/components/schemas/BusinessPlan'
components:
  schemas:
    BusinessPlan:
      type: object
      properties:
        id:
          type: string
          description: Plan identifier.
        name:
          type: string
          description: Name of the business plan.
        description:
          type: string
          description: Description of the plan.
        requestsPerMinute:
          type: integer
          description: Number of requests allowed per minute.
        isDefault:
          type: boolean
          description: Whether this is the default plan.
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://devportal.choreo.dev/oauth2/authorize
          tokenUrl: https://devportal.choreo.dev/oauth2/token
          scopes:
            read: Read access
            write: Write access
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
