openapi: 3.2.0
info:
  title: Choreo Insights Logs API
  description: The Choreo Insights API provides access to observability, monitoring, and analytics data for APIs and components deployed on the WSO2 Choreo platform. It enables users to programmatically retrieve usage statistics, latency metrics, error analytics, and operational insights for their managed APIs and services.
  version: 1.0.0
  contact:
    name: WSO2 Choreo
    url: https://choreo.dev/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-provider-slug: choreo
  x-api-slug: insights
servers:
- url: https://console.choreo.dev/insights/api/v1
  description: Choreo Insights API
security:
- bearerAuth: []
tags:
- name: Logs
  description: Component log querying and monitoring.
paths:
  /logs:
    get:
      operationId: queryLogs
      summary: Choreo Query component logs
      description: Query logs for a specific component, useful for debugging and monitoring component behavior.
      tags:
      - Logs
      parameters:
      - name: orgId
        in: query
        required: true
        schema:
          type: string
        description: Organization identifier.
      - name: componentId
        in: query
        required: true
        schema:
          type: string
        description: Component identifier.
      - name: environmentId
        in: query
        required: true
        schema:
          type: string
        description: Environment identifier.
      - name: from
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: query
        in: query
        schema:
          type: string
        description: Log search query.
      - name: level
        in: query
        schema:
          type: string
          enum:
          - ERROR
          - WARN
          - INFO
          - DEBUG
        description: Filter by log level.
      - name: limit
        in: query
        schema:
          type: integer
          default: 100
      responses:
        '200':
          description: Successful response with log entries.
          content:
            application/json:
              schema:
                type: object
                properties:
                  entries:
                    type: array
                    items:
                      $ref: '#/components/schemas/LogEntry'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
components:
  schemas:
    LogEntry:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        level:
          type: string
          enum:
          - ERROR
          - WARN
          - INFO
          - DEBUG
        message:
          type: string
        componentId:
          type: string
        environmentId:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
