openapi: 3.1.0
info:
  title: Choreo API Management Alerts Organizations API
  description: The Choreo API Management API provides programmatic access to manage the full lifecycle of APIs on the WSO2 Choreo platform. It allows API creators to create, publish, version, and manage APIs, configure rate limiting policies, and manage API documentation. Choreo is an AI-native internal developer platform that simplifies building, deploying, and managing cloud-native applications.
  version: 1.0.0
  contact:
    name: WSO2 Choreo
    url: https://choreo.dev/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-provider-slug: choreo
  x-api-slug: api-management
servers:
- url: https://console.choreo.dev/api/v1
  description: Choreo Console API
security:
- bearerAuth: []
- oauth2:
  - read
  - write
tags:
- name: Organizations
  description: Manage organizations.
paths:
  /organizations:
    get:
      operationId: listOrganizations
      summary: Choreo List organizations
      description: Retrieve a list of organizations the authenticated user belongs to.
      tags:
      - Organizations
      responses:
        '200':
          description: Successful response with list of organizations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
        '401':
          description: Unauthorized.
  /organizations/{orgId}/apis:
    get:
      operationId: listAPIs
      summary: Choreo List APIs
      description: Retrieve a list of managed APIs within an organization. These are APIs published and managed through the Choreo API gateway.
      tags:
      - Organizations
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
        description: Organization identifier.
      - name: limit
        in: query
        schema:
          type: integer
          default: 25
        description: Maximum number of results to return.
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
        description: Number of results to skip.
      responses:
        '200':
          description: Successful response with list of APIs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      $ref: '#/components/schemas/API'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          description: Unauthorized.
  /organizations/{orgId}/apis/{apiId}:
    get:
      operationId: getAPI
      summary: Choreo Get API details
      description: Retrieve details of a specific managed API.
      tags:
      - Organizations
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
      - name: apiId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response with API details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API'
        '401':
          description: Unauthorized.
        '404':
          description: API not found.
components:
  schemas:
    Organization:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the organization.
        name:
          type: string
          description: Name of the organization.
        handle:
          type: string
          description: URL-friendly handle for the organization.
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the organization was created.
    Pagination:
      type: object
      properties:
        total:
          type: integer
          description: Total number of results.
        limit:
          type: integer
        offset:
          type: integer
    API:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the API.
        name:
          type: string
          description: Name of the API.
        version:
          type: string
          description: Version of the API.
        context:
          type: string
          description: Context path of the API.
        type:
          type: string
          enum:
          - REST
          - GraphQL
          - gRPC
          - WebSocket
          description: Type of the API.
        status:
          type: string
          enum:
          - Created
          - Published
          - Deprecated
          - Retired
        visibility:
          type: string
          enum:
          - Public
          - Organization
          - Project
          description: Visibility of the API.
        componentId:
          type: string
        createdAt:
          type: string
          format: date-time
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://console.choreo.dev/oauth2/authorize
          tokenUrl: https://console.choreo.dev/oauth2/token
          scopes:
            read: Read access
            write: Write access
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
